<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Lab8MainSuite">
    <test name="Exercise1Lifecycle">
        <classes>
            <class name="org.example.Exercise1_TestLifecycle"/>
        </classes>
    </test>

    <test name="Exercise3SmokeThenRegression">
        <groups>
            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.Exercise3_Groups"/>
        </classes>
    </test>
</suite>
